.cyan {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30vh 0 2rem;
  background-color: rgb(78, 165, 228);
}
.list {
  min-width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  border-radius: 0.5rem;
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  margin-bottom: -0.5rem;
  margin-top: 10vh;
}
.wrapper-rent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  padding: 2rem;
  color: black;
  flex-wrap: wrap;
  margin-bottom: 2rem;
/*
  margin: 0 auto;
*/
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  z-index: 0;
  }
.data-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(78, 165, 228, 0.3);
  border-radius: 0.5rem;
  border-top: 8px solid black;
  min-width: 25vh;
  max-width: 50vw;
  margin: 1rem;
  padding: 1rem;
}
.date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}
.title {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(175, 169, 169);
  padding: none;
}
.text {
  font-size: 0.8rem;
  font-weight: 600;
  min-width: 25vh;
  color: rgb(255, 255, 255);
  padding: none;
}
.vehicle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 15vh;
  max-width: 20vw;
  background-color: black;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.car {
  min-width: 15vh;
  max-width: 20vw;
  border-radius: 0.5rem 0.5rem 0 0;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 15vh;
  max-width: 20vw;
}
.action-view {
  width: auto;
  max-height: 3rem;
  color: white;
  background-color: rgb(78, 165, 228);
  height: auto;
  font-weight: bold;
  font-size: 0.8rem;
  margin: 0.25rem;
}
.action-new {
  width: auto;
  max-height: 3rem;
  color: white;
  background-color: rgb(209, 31, 141);
  height: auto;
  font-weight: bold;
  font-size: 0.8rem;
  margin: 0.25rem;
}
.action-del {
  width: auto;
  max-height: 3rem;
  color: white;
  background-color: rgb(240, 96, 29);
  height: auto;
  font-weight: bold;
  font-size: 0.8rem;
  margin: 0.25rem;
}

