/* -------------------PRE-CODE----------------

/* para que tome el width desde el borde de la caja.*/
* {
 box-sizing: border-box;
}
body {
  font-size: 100%;
}
/* -------------------END PRE-CODE----------------*/
.black {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  background-color: black;
}
.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 80vw;
  max-width: 80vw;
  min-height: 100vh;
  margin: 0 auto;
}
h1 {
    padding: none;
    margin: none;
}
.logo {
  min-width: 20vw;
  max-width: 25vh;
}
.links {
  border: 2px solid white;
  padding: 0.25rem 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
.links:hover {
  background-color: rgb(137, 5, 86);
  color: white;
}
.btn-send {
  border: none;
  background-color: rgb(137, 5, 86);
  padding: 0.75rem 2rem;
  font-size: 0.75rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  margin-top: 2rem;
}
.btn-send:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgb(137, 5, 86);
  font-weight: bold;
}
.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
}
h2 {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin-top: 2rem;
  color: white;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40vw;
  min-height: 60vh;
  padding: 2rem;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  color: white;
}
.gray {
    color: rgba(255, 255, 255, 0.5);
}
.white {
    color: rgba(255, 255, 255, 1);
}
.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 10rem;
    background-color: rgb(208, 61, 24);
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 0.75rem;
    margin-top: 0.5rem;
}
