* {
  box-sizing: border-box;
}
.cyan {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 25vh 0 2rem;
  background-color: rgb(78, 165, 228);
}
.list {
  min-width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  border-radius: 0.5rem;
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  margin-bottom: -0.5rem;
}
h4 {
  color: white;
  font-weight: 600;
  padding-right: 1rem;
}
h5 {
  color: white;
  font-weight: 600;
}
.wrapper-pay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 60vw;
  padding: 2rem;
  color: black;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  z-index: 0;
  }
.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 80, 110);
  border-radius: 0.5rem;
  min-width: 25vw;
  max-width: 50vw;
  margin: 1rem;
  padding: 1rem;
}
.info {
  min-width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0);
  margin: 0.25rem;
  border-radius: 0.5rem;
}
.title-pay {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 0.5rem ;
}
.text-pay {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 0 0.5rem ;
}
.pay {
  min-width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(78, 165, 228);
  padding: 1rem;
  margin: 0.75rem;
  border-radius: 0.5rem;
}
.normal {
  font-weight: 500;
  font-size: 1rem;
}
.action-confirm {
  width: auto;
  max-height: 3rem;
  color: white;
  background-color: rgb(101, 17, 83);
  height: auto;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 1rem;
}
.action-confirm:hover {
  color: rgb(78, 165, 228);
  background-color: rgb(101, 17, 83);
}

