* {
  box-sizing: border-box;
}
.cyan2 {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 25vh 0 2rem;
  background-color: rgb(78, 165, 228);
}
.list2 {
  min-width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  background-color: black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: -0.25rem;
}
.wrapper-viewcar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80vw;
  color: black;
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.viewcar-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  min-width: 30vh;
  max-width: 30vh;
}
.car-slide {
  min-width: 30vh;
  max-width: 30vh;
  border-radius: 0.5rem ;
}
/*
.thick {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 40vh;
  border-left: 2px solid black;
  margin: 0 2rem;
}
*/
.inforent {
  min-width: 30vh;
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 1rem;
}
.line {
  max-width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  border-radius: 0.5rem;
}
.heading {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
}
.infodata {
  max-width: 25vw;
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
}
.action-res {
  width: auto;
  max-height: 3rem;
  color: white;
  background-color: rgb(209, 31, 141);
  font-weight: bold;
  font-size: 0.85rem;
  margin: 0.25rem;
}

