* {
  box-sizing: border-box;
}
.veh {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 25vh 0 2rem;
  background-color: rgb(78, 165, 228);
}
.list-select {
  min-width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  background-color: black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: -0.25rem;
  margin-top: 5vh;
}
.white {
    color: white;
}
.wrapper-cars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 90vw;
  color: black;
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
}
.item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  min-width: 25vh;
  max-width: 50vw;
  margin: 1rem;
}
.car-container {
  min-width: 15vh;
  max-width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.car-item {
  min-width: 15vh;
  max-width: 30vw;
  border-radius: 0.5rem 0 0 0.5rem;
}
.features {
  min-width: 20vh;
  max-width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: no-wrap;
  padding: 1rem;
}
.line {
  min-width: 20vh;
  max-width: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: no-wrap;
  border-radius: 0.5rem;
}
.subtitle {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
}
.data {
  max-width: 20vh;
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 1);
  padding: 0.5rem 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
}
.action-res {
  width: auto;
  max-height: 3rem;
  color: white;
  background-color: rgb(209, 31, 141);
  font-weight: bold;
  font-size: 0.85rem;
  margin: 0.25rem;
}

