.admin-view {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20vh;
  background-color: rgba(209, 31, 141, 1);
}
.main-title {
  min-width: 35vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  background-color: black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: -0.25rem;
  margin-top: 5vh;
}
.veh-view {
  min-width: 40vh;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}
.img-view {
  min-width: 25vh;
  max-width: 25vw;
  border-radius: 0.25rem;
}
.field-view {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: no-wrap;
  padding:  0.25rem 0;
}
.title-view {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 1rem;
}
.text-view {
  font-size: 0.8rem;
  font-weight: 600;
  min-width: 25vh;
  color: rgb(255, 255, 255);
}
.actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.back {
  background-color: rgb(78, 165, 228);
  color: white;
  margin: 0.5rem 0.5rem;
  font-weight: 600;
  font-size: 0.8rem;
}
.back:hover {
  background-color: white;
  color: rgb(78, 165, 228);
}
.edit-view {
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 0.5rem 0.5rem;
  font-weight: 600;
  font-size: 0.8rem;
}
.edit-view:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}
.del-view {
  background-color: rgb(240, 96, 29);
  color: white;
  margin: 0.5rem 0.5rem;
  font-weight: 600;
  font-size: 0.8rem;
}
.del-view:hover {
  background-color: white;
  color: rgb(240, 96, 29);
}
