{% extends "base.html" %}

{% block title %}Lista de vehículos{% endblock %}

{% block content %}
<main class="container-fluid">
    <h1>Vehicles List</h1>
    <table class="table center">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Model</th>
            <th scope="col">Plate</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
        <tr>
            <th scope="row">{{ vehicle.id }}</th>
            <td>{{ vehicle.model }}</td>
            <td>{{ vehicle.number }}</td>
            <td>
                <a class="btn view" href="{% url 'admin_view_vehicle' vehicle.pk %}">View</a>
                <a class="btn edit" href="{% url 'admin_edit_vehicle_form' vehicle.pk %}">Edit</a>
                <a class="btn del" href="{% url 'admin_delete_vehicle' vehicle.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn add" href="{% url 'admin_create_vehicle_form' %}">Add vehicle</a>
</main>
{% endblock %}