{% extends "base.html" %}
{% load static %}

{% block title %}REVO select vehicle{% endblock %}

{% block content %}
<main class="container-fluid cyan">
        <div class="list">
          <h4>Renting List</h4>
          <a class="btn action-new" href="{% url 'rent_request_form' %}">New rent</a>
        </div>
    <section class="container wrapper-rent">
        {% for rent in rents %}
        <article class="data-wrapper">
          <div class="field">
              <p class="title1">From</p>
              <p class="text1">{{ rent.time_begin }}</p>
          </div>
          <div class="thick1"></div>
          <div class="field">
              <p class="title1">Until</p>
              <p class="text1">{{ rent.time_end }}</p>
          </div>
          <article class="vehicle">
            <img class="car" src="{% static 'imgs/e_cars/' %}{{ rent.vehicle.img1 }}" alt='{{ rent.vehicle.model }}'/>
            <p class="model-info ">{{ rent.vehicle.model }}</p>
          </article>
          <div class="buttons">
            <a class="btn action-view" href="{% url 'rent_view' rent.pk %}">View info</a>
            <a class="btn action-del" href="{% url 'rent_cancel' rent.pk %}">Cancel rent</a>
          </div>
        </article>
        {% endfor %}
    </section>
</main>

{% endblock %}