{% extends "base.html" %}
{% load static %}

{% block title %}Seleccionar vehículo{% endblock %}

{% block content %}
<main class="container-fluid cyan">
        <div class="list">
          <h4>Renting List</h4>
          <a class="btn action-new" href="{% url 'rent_request_form' %}">New rent</a>
        </div>
    <section class="container wrapper-rent">
        {% for rent in rents %}
        <article class="data-wrapper">
          <div class="date">
              <p class="title">From</p>
              <p class="text">{{ rent.time_begin }}</p>
          </div>
          <div class="date">
              <p class="title">Until</p>
              <p class="text">{{ rent.time_end }}</p>
          </div>
          <article class="vehicle">
            <img class="car" src="{% static 'imgs/e_cars/e208_1.png' %}" alt="PEUGEOT e208"/>
            <p class="text">{{ rent.vehicle.model }}</p>
          </article>
          <div>
            <a class="btn action-view" href="{% url 'rent_view' rent.pk %}">View info</a>
            <a class="btn action-del" href="{% url 'rent_cancel' rent.pk %}">Cancel rent</a>
          </div>
        </article>
        {% endfor %}
    </section>
</main>

{% endblock %}