{% extends "base.html" %}

{% block title %}Solicitar vehículo{% endblock %}

{% block content %}

<h1>Solicitar vehículo</h1>
<form action="{% url 'rent_select_vehicle' %}" method="GET">
    <p>Indique intervalo de tiempos del alquiler</p>

    <label for="rentBegin">Desde</label>
    <input id="rentBegin" name="begin" type="datetime-local">

    <label for="rentEnd">Hasta</label>
    <input id="rentEnd" name="end" type="datetime-local">

    <button type="submit">Ver vehículos disponibles</button>
</form>

{% endblock %}