{% extends "base.html" %}
{% load static %}
{% block title %}Seleccionar vehículo{% endblock %}

{% block content %}
<main class="container-fluid cyan">
    <div class="list">
      <h5 class="white">Please, select one car from the list:</h5>
    </div>
    <section class="container wrapper-cars">
        {% for vehicle in vehicles %}
            <article class="item-wrapper">
                  <div class="car-container">
                      <img class="car-item " src="{% static 'imgs/e_cars/eniro_1.png' %}" alt="KIA eNiro"/>
                  </div>
              <div class="features">
                  <div class="line">
                      <p class="subtitle">ID:</p>
                      <p class="data">{{ vehicle.id }}</p>
                  </div>
                  <div class="line">
                      <p class="subtitle">Model:</p>
                      <p class="data">{{ vehicle.model }}</p>
                  </div>
                  <div class="line">
                      <p class="subtitle">Plate code:</p>
                      <p class="data">{{ vehicle.number }}</p>
                  </div>
                  <a class="btn action-res" href="{% url 'rent_reserve_vehicle_form' vehicle.pk rent_begin rent_end %}">Make reservation</a>
              </div>
            </article>
        {% endfor %}
      </section>
</main>
{% endblock %}