{% extends "base.html" %}
{% load static %}

{% block title %}REVO select dates{% endblock %}

{% block content %}
<main class="container-fluid dark-cyan">
  <section class="request-wrapper">
    <h5>Please, select the dates of your next reservation:</h5>
    <form class="container horizon" action="{% url 'rent_select_vehicle' %}" method="GET">
        <div class="col align-self-start sep">
          <label for="rentBegin" class="form-label d-flex justify-content-start white ">Starting:</label>
          <input type="datetime-local" id="rentBegin" class="form-control bg-secondary text-white" name="begin" autofocus>
        </div>
        <div class="col align-self-start sep">
          <label for="rentEnd" class="form-label d-flex justify-content-start white ">Ending:</label>
          <input type="datetime-local" id="rentEnd" class="form-control bg-secondary text-white" name="end">
        </div>
        <input class="btn cars" type="submit" value="SHOW AVAILABLE CARS">
    </form>
  </section>
  <section class="request-wrapper2">
      <article class="part">
        <img class="req-img" src="{% static 'imgs/types/ev.png' %}" alt="Audi eTron GT">
        <div class="car-types">
          <h5 class="type-sub">Electric Vehicles</h5>
          <p class="type-info">EVs (also known as plug-in electric vehicles) derive all or part of
            their power from electricity supplied by the electric grid. They include AEVs and PHEVs.</p>
        </div>
      </article>
      <article class="part">
        <img class="req-img" src="{% static 'imgs/types/aev.png' %}" alt="Audi eTron GT">
        <div class="car-types">
          <h5 class="type-sub">All-electric vehicles</h5>
          <p class="type-info">AEVs (all-electric vehicles) are powered by one or more electric motors.
        They receive electricity by plugging into the grid and store it in batteries.
        They consume no petroleum-based fuel and produce no tailpipe emissions.
        AEVs include Battery Electric Vehicles (BEVs) and Fuel Cell Electric Vehicles (FCEVs).</p>
        </div>
      </article>
      <article class="part">
        <img class="req-img" src="{% static 'imgs/types/phev.png' %}" alt="Audi eTron GT">
        <div class="car-types">
          <h5 class="type-sub">Plug-in hybrid electric vehicles</h5>
          <p class="type-info">PHEVs (plug-in hybrid electric vehicles) use batteries to power an electric motor,
        plug into the electric grid to charge, and use a petroleum-based or alternative fuel
         to power the internal combustion engine. Some types of PHEVs are also called extended-range
         electric vehicles (EREVs).</p>
        </div>
      </article>
  </section>
</main>
{% endblock %}